body {
    font-family: Arial, sans-serif;
    background-color: #666666;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    color: #e0e0e0;
    font-size: 48px;
    margin-bottom: 20px;
  }
  
  label {
    margin-bottom: 10px;
  }
  
  .input, .button {
    margin: 0 0 10px 0;
  }
  
  .redbutton {
    font-size: 16px;
    cursor: pointer;
  }
  
  .form-control {
    flex: 1;
    margin-right: 10px;
  }
  
  .btn-success {
    background-color: #28a745;
    border: none;
  }
  
  .btn-danger {
    background-color: red;
    border: none;
  }
  